* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    max-width: 1440px;    
    margin: 0 auto;
}

.header {
    margin-top: 10px;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 9%;
}

.logo {
    display: block;
    margin-left: 1%;
}

.main-nav {
    max-width: 455px;
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.main-ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li {
    display: inline-block;
    margin-left: 10%;
}

.nav-li {
    text-transform: uppercase;
    color: #6C6C6C;
    text-decoration: none;
    font-size: 12px;
}

.nav-li:hover {
    color: #AC1313
}

.cart {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Libre Franklin;
    font-size: 14px;
}

.cart:before {
    content: url(./pictures/Cart.svg);
    left: 0;
    top: 2px;
    font-weight: 900;
}

.burger {
    position: relative;
    width: 25px;
    height: 15px;
    cursor: pointer;
    display: none;
}

.burger:before,
.burger:after {
    content: '';
    background-color: #8a0a0a;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
}

.burger span {
    position: absolute;
    background-color: #8a0a0a;
    border-radius: 2px;
    width: 100%;
    height: 3px;
    left: 0px;
    top: 6px;
}

.burger:before {
    top: 0px;
}

.burger:after {
    bottom: 0px;
}

.burger-ul {
    color:#fefbfb;
    margin-top: 0px;
    list-style-type: none;
    flex-direction: column;
}

.burger-li {
    margin-bottom: 10px;
    margin-right: 15px;
    text-align: right;
}

.burger-menu {
    position: fixed;
    top: 60px;
    right: 0;
    width: 135px;
    height: 200px;
    border-radius: 10px;
    background-color: #A21010;
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 50;
    padding-left: 10px;
    padding-top: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: auto;    
    transform: translateX(220px);
    transition: transform 0.8s;
}

.active {
    transform: translateX(-50px);
}

.burger-link {
    text-decoration: none;
    color: #fefbfb;    
    font-size: 16px;    
    line-height: 22px;
    cursor: pointer;
}







.main {
    height: 708px;
    background-image: url(./pictures/main-image.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-text,
.main-pic {
    height: 60%;
}

.main-text {
    position: relative;
    left: 10%;
    width: 45%;
}

.main-pic {
    width: 60%;
    background: center/cover;
    background-image: url(./pictures/ceramic.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1%;
}

.main-text h3 {
    margin-top: 10%;
    font-size: 14px;
    font-weight: 700;
    color: rgba(215, 116, 116, 1);
    text-transform: uppercase;
}

.main-text span {
    font-family: Playfair Display;
    color: #AC1313;
    font-size: 68px;
    vertical-align: super
}

.main-text h1 {
    font-size: 48px;
    line-height: 54px;
}

.main-text p {
    font-size: 16px;
    line-height: 20px;
    font-family: Libre Franklin;
    color: rgba(108, 108, 108, 1);
}

.shop-btn {
    margin-top: 40px;
    border: none;
    background-color: #AC1313;
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80%;
    width: 201px;
    height: 62px;
    cursor: pointer;
}

.three-rounds {
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.three-rounds h3 {
    margin-top: 35px;
    color: rgba(215, 116, 116, 1);
    font-size: 14px;
    text-transform: uppercase;
}

.three-rounds h2 {
    margin-top: 10px;
    font-size: 40px;
}

.three-rounds span {
    font-family: Playfair Display;
    color: #AC1313;
    font-size: 58px;
    vertical-align: super;
}

.rounds {
    display: flex;
    gap: 150px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
    position: relative;
}

.rotated {
    position: absolute;
    left: -180px;
    top: 50%;
    text-transform: uppercase;
    color: rgba(219, 219, 219, 1);
    rotate: 270deg;
}

.round1,
.round2,
.round3 {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    gap: 5px;
    margin-bottom: 20px;
}

.round1 {
    background-color: #E4B366;
    border: #b08642 solid 30px;
}

.round2 {
    background-color: #F05B10;
    border: #c14b0f solid 30px;
}

.round3 {
    background-color: #A21010;
    border: #8a0a0a solid 30px;
}

.underrounds-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-bottom: 320px;
}

.half {
    width: 40%;
    text-align: start;
}

.half h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.half p {
    font-size: 14px;
    line-height: 24px;
    font-family: Libre Franklin;
    color: rgba(108, 108, 108, 1);
}

.grid {
    width: 90%;
    margin: 250px auto;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 224px 224px 224px;
}

.grid-item-grey {
    background-color: #F5F5F5;
    position: relative;
}

.grid-item {
    align-items: flex-end;
}

.grid h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.grid p {
    width: 388px;
    font-size: 14px;
    line-height: 24px;
    font-family: Libre Franklin;
    color: rgba(108, 108, 108, 1);
    margin-bottom: 20px;
}

.grid a {
    text-decoration: none;
}

.grid a:link,
a:visited {
    color: #000;
}

.grid-img {
    position: absolute;
    left: 28%;
    bottom: -60%;
}

.goods {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.goods h3 {
    margin-top: 35px;
    color: rgba(215, 116, 116, 1);
    font-size: 14px;
    text-transform: uppercase;
}

.goods h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 40px;
}

.goods-rotated {
    position: absolute;
    left: -180px;
    top: 50%;
    text-transform: uppercase;
    color: rgba(219, 219, 219, 1);
    rotate: 270deg;
}

.goods-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.goods-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
}

.good-img {
    height: auto;
    width: auto;
}

.prices {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: start;
}

.good-desc {
    font-size: 16px;
    color: #6C6C6C;
}

.line {
    background-color: #b3b0b0;
    height: 1px;
    width: 100%;
    margin: 10px 0px 15px 0px;
}

.ready-shopping {
    margin-top: 120px;
    height: 471px;
    background-image: url(./pictures/plates.png);
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-left: 144px;
}

.ready-shopping h3 {
    margin-top: 35px;
    font-weight: 400;
    color: rgba(215, 116, 116, 1);
    font-size: 14px;
    text-transform: uppercase;
}

.ready-shopping h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.ready-shopping p {
    color: #6C6C6C;
}

.ready-shopping a {
    color: #AC1313;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 134px;
    position: relative;
}

.news-rotated {
    position: absolute;
    right: -20px;
    top: 50%;
    text-transform: uppercase;
    color: rgba(219, 219, 219, 1);
    rotate: 270deg;
}


.plan {
    display: block;
    margin: 0 auto;
}

.news h3 {
    margin-top: 35px;
    font-weight: 400;
    color: rgba(215, 116, 116, 1);
    font-size: 14px;
    text-transform: uppercase;
}

.news h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.news h4 {
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 400;
    margin: 30px;
}

.news h4::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgba(133, 52, 255, 1);
    margin-right: 10px;
}

.news span {
    font-family: Playfair Display;
    color: #AC1313;
    font-size: 58px;
    vertical-align: super;
}

.news input {
    height: 45px;
    width: 325px;
    border: 1px solid #6C6C6C;
    padding-left: 10px;
    outline: none;
}

.news input:active {
    border: none;
}

.subs-btn {
    background-color: #000;
    color: #fff;
    border: none;
    height: 47px;
    width: 177px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(219, 219, 219, 0.1);
    height: 611px;
    ;
    position: relative;
}

footer img {
    display: block;
    margin: 0 auto;
}

.footer-p {
    margin: 30px 0px 70px 0px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
}

.contacts-item {
    width: 30%;
    height: 127px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

footer h4 {
    font-weight: 400;
    font-size: 14px;
}

.footer-desc {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 85px;
    height: 85px;
    background-color: rgba(219, 219, 219, 0.3);
}

@media (max-width: 1230px) {
    .main-text h1 {
        font-size: 40px;
    }

    .rounds {
        gap: 70px;
    }

    .grid-img {
        left: 10%;
    }

    .good-img {
        height: 100%;
        width: 100%;
    }

}

@media (max-width: 1070px) {

    .main {
        height: 550px;
    }

    .main-text {
        left: 5%;
        height: 100%;
    }

    .main-text p {
        width: 250px;
        font-size: 14px;
    }

    .main-pic {
        width: 50%;
        margin-right: 5%;
    }

    .main-text h1 {
        font-size: 40px;
    }

    .main-text span {
        font-size: 50px;
    }

    .rounds {
        gap: 50px;
    }

    .grid-img {
        left: 10%;
    }

    .round1,
    .round2,
    .round3 {
        width: 190px;
        height: 190px;
    }

    .round1 {
        border: #b08642 solid 20px;
    }

    .round2 {
        border: #c14b0f solid 20px;
    }

    .round3 {
        border: #8a0a0a solid 20px;
    }

    .rotated {
        display: none;
    }

    .news {
        margin-bottom: 0px;
    }

    footer {
        height: 500px;
    }

}

@media (max-width: 878px) {

    .main-text {
        left: 5%;
        width: 50%;
        height: 100%;
    }

    .main-text p {        
        font-size: 12px;
    }

    .main-pic {
        margin-right: 1%;
    }

    .main {
        height: 500px;
    }

    .main-text h1 {
        font-size: 40px;
    }

    .rounds {
        gap: 40px;
    }

    .rounds img {
        height: 50px;
        width: 50px;
    }

    .round1,
    .round2,
    .round3 {
        width: 150px;
        height: 150px;
    }

    .grid {
        margin: 150px auto;
    }

    .grid p {
        width: 300px;
    }

    .grid-img {
        left: 20%;
        bottom: -40%;
        height: 400px;
        width: 200px;
    }

    .ready-shopping {
        padding-top: 50px;
        padding-left: 70px;
    }

    footer p {
        font-size: 10px;
    }

}

@media (max-width: 790px) {
    .main-pic {
        display: none;
    }

    .main-text {
        left: 5%;
        width: 100%;
        height: 100%;
    }

    .rounds {
        gap: 70px;
    }

    .round1,
    .round2,
    .round3 {
        width: 100px;
        height: 100px;
    }

    .rounds img {
        height: 40px;
        width: 40px;
    }

}

@media (max-width: 690px) {

    .grid p {
        width: 200px;
    }

    .news-rotated {
        display: none;
    }

    .ready-shopping {
        padding-top: 30px;
        padding-left: 30px;
    }

    .grid-img {
        left: 10%;
        bottom: -40%;
        height: 350px;
        width: 150px;
    }

}

@media (max-width: 650px) {

    .main-nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .three-rounds {
        height: 600px;
    }

    .rounds {
        gap: 50px;
    }

    .round1,
    .round2,
    .round3 {
        width: 100px;
        height: 100px;
    }

    .rounds img {
        height: 20px;
        width: 20px;
    }

    .round1 {
        border: #b08642 solid 10px;
    }

    .round2 {
        border: #c14b0f solid 10px;
    }

    .round3 {
        border: #8a0a0a solid 10px;
    }

    .footer-desc p {
        font-size: 10px;
    }

    footer p {
        font-size: 10px;
    }

    .subs-btn {
        width: 90px;
    }

    .ready-shopping h2 {
        font-size: 30px;
    }

    .ready-shopping p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .ready-shopping {
        margin-top: 40px;
        height: 330px;
    }

    .news {
        margin-top: 30px;
    }
}

/* --------------    Мобильная версия    ---------------   */

@media (max-width: 550px) {

    

    .main-text h1 {
        font-size: 30px;
        line-height: 44px;
    }

    .main {
        height: 300px;
    }


    .shop-btn {
        margin-top: 10px;
        width: 180px;
        height: 42px;
    }

    .three-rounds h2 {
        font-size: 30px;
    }

    .rounds {
        gap: 30px;
    }

    .round1,
    .round2,
    .round3 {
        width: 70px;
        height: 70px;
    }

    .rounds p {
        font-size: 10px;
    }

    .round1 {
        border: #b08642 solid 10px;
    }

    .round2 {
        border: #c14b0f solid 10px;
    }

    .round3 {
        border: #8a0a0a solid 10px;
    }

    .underrounds-text {
        flex-direction: column;
        padding-left: 20px;
    }

    .half {
        width: 100%;
    }

    .rounds {
        margin-top: 20px;
    }

    .grid {
        margin: 150px auto;
    }

    .grid p {
        width: 150px;
    }

    .grid-img {
        height: 250px;
        width: 100px;
    }

    .grid p {
        font-size: 12px;
    }

    .goods h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .goods h3 {
        margin-top: 155px
    }

    .goods-grid {
        grid-template-columns: 1fr 1fr;
    }

    .news h2 {
        font-size: 30px;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subs-btn {
        margin-top: 15px;
        width: 337px;
    }


    .plan {
        height: 40px;
        width: 40px;
    }

    .three-rounds h2 {
        text-align: center;
        font-size: 20px;
    }

    .footer-desc {
        line-height: 40px;
        padding: 0px 20px;
    }


}